
#sickCount {
    position: absolute;
    top: 10px;
    left: 10px;
    color: yellow;
}

#sickMaskedCount {
    position: absolute;
    top: 40px;
    left: 10px;
    color: orange
}

#saneMaskedCount {
    position: absolute;
    top: 70px;
    left: 10px;
    color: red;
}

#saneCount {
    position: absolute;
    top: 100px;
    left: 10px;
    color: gray;
}

#round {
    position: absolute;
    top: 160px;
    left: 10px;
    color: white;
}

#virusWon.playing {
    display: none;
}

#virusWon.virusWon {
    position: absolute;
    top: 100px;
    left: 100px;
}